<div>
<h1>Welcome to the Blocipedia About page!</h1>

<p>While an About page is supposed to contain colorful background for a product/company/person really this is a placeholder.</p>

<p>Currently Blocipedia is just a project from <a href="https://www.bloc.io" target="blank">Bloc.io</a>. It is a Wiki built to demonstrate several objectives listed below.</p>

<p>Objectives listed below are straight from Bloc so I don't want to be accused of plagiarism</p>
<ul>
	<li>Create a basic user scheme for a Ruby on Rails application.</li>
	<li>Give the users of a Ruby on Rails application the ability to sign up for your application using the Devise gem.</li>
	<li>Understand how to create CRUD routes and resources in a Rails Application.</li>
	<li>Explain the difference between authentication and authorization.</li>
	<li>Integrate Stripe third party API callouts.</li>
	<li>Integrate Redcarpet Markdown rendering gem.</li>
</ul>

</div>